/* body {
    background-color: blanchedalmond;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style  */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}

.logo h2{
    font-weight: 900;
}

.color-orange{
    color: #FD6E0A;
}

.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 36px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}


.section-heading{
    max-width: 827px;
    text-align: center;
}

.section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;
}

.section-heading p{
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    line-height: 30px;
}


/* main style  */

header {
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url("../images/developer.png"), url("../images/header_bg.png") ,#FFF8F3;
    background-repeat: no-repeat;
    background-position: left top,right bottom ;
}

nav {
    width: 67%;
    max-width: 1140px;
    /* border: 1px solid black; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu{
    list-style: none;
    display: flex;
    gap: 51px;
    align-items: center;
}

nav .menu a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}

nav .menu a button{
    width: 150px;
}



#banner{
    /* border: 1px solid red; */
    margin: 46px 38px 0px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content{
    width: 585px;
}

#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

#banner .banner-content h1{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 20px;
    color: black;
}

#banner .banner-content p{
    font-size: 12px;
    margin-bottom: 30px;
    color: #757575;
    line-height: 30px;
}

#banner .banner-image img{
    max-width: 584px;
    vertical-align: middle;
}


#about{
    padding-top: 130px;

}

#about .about-container{
    width: 67%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}


#about .about-container .about-info{
    display: flex;
    justify-content: space-between;
    
}

#about .about-container .about-info .info-card p{
    font-size: 15px;
    color: #757575;
    line-height: 30px;
}


#about .about-container .about-info .info-card h4{
    font-size: 15px;
    
}

